*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 260px;
  border-radius: 15px;
}

body {
  background-color: #f4d04e;
  font-size: 20px;
  margin: 0 auto;
  font-weight: 500px 800px;
  font-family: "Figtree";
}

main {
  width: 50%;
  margin: 100px auto;
  position: relative;
  background-color: #ffffff;
  width: 60%;
  max-width: 300px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 10px 10px #000000;
  border: 2px solid #808080;
}

.big-text {
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
}

.text {
  font-size: 14px;
  margin-top: 10px;
}

.box {
  background-color: #f4d04e;
  color: #000000;
  font-weight: bold;
  width: 30%;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
}

.pp {
  color: #808080;
  font-size: 14px;
}

.author {
  display: flex;
  margin-top: 20px;
  gap: 10px;
  align-items: center;
}

.author img {
  width: 15%;
}
.author-name {
  font-size: 14px;
  font-weight: 700;
}
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
